
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.15s;
}



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-top: 50px;
}
